<h2 class="text-center pt-5">GPhone Store</h2>

<div class=" pt-5 d-flex justify-content-center align-items-center">


<div class="card border-0 bg-light w-75 ">

  <div class="card-body">
    <p class="pt-2">At GPhone, we focus on offering premium tech accessories at budget-friendly prices. Our goal is to make the latest technology available to all. Whether you need new smartphones, headphones, or earbuds, we have a great selection. With a dedication to quality and customer happiness, Collect guarantees you'll find the ideal tech companion for your daily requirements.</p>

    <p class="pt-8">Explore our wide selection of products and see why GPhone is your top choice for tech accessories. Embrace innovation with us and elevate your digital lifestyle and stylishly.</p>
  </div>
</div>
</div>