<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="row">
    <!-- Left column with content -->
    <div class="col ">
      <div class="text-center ps-5">
        <strong class="fs-2">GPhone Store</strong>
        <div class="pt-2">
          <p class="text-center fs-5">Discover a wide range of premium smartphones and bicycles.</p>
          <div class="text-center pt-2">
            
             <!-- CTA Section -->
            <button class="btn btn-outline-secondary btn-lg" routerLink="/products">
              Shop Now <i class="bi bi-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
